body{
    font-family: "Istok Web", sans-serif;
  font-weight: 400;
  }

header{
    width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: #ffffff;
   color: #a9a9a9;
   font-size: 1.5vw;
   border-bottom: 1px solid gray;
  }
  
  header nav{
   display: flex;
   flex-direction: row;
   font-size: 2vw;
  }
  
header ul{
   list-style: none;
   display: flex;
   padding: 0;
   margin-top: 3.5vw;
   margin-right: 4vw;

  }
  
header li{
   margin-right: 3vw;
   padding: 0;
  }
  
header li a{
   text-decoration: none;
   color: rgb(170, 170, 170);
  }
  
  header img{
    width: 17vw;
    margin: 1vw 0 1vw 9vw;
    padding: 0;
  }

  .hero{
    width: 100%;
  }

.features-section{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

.feature{
    width: 30%;
    text-align: center;
}

.feature img{
    width: 60%;
}

.shopping-cart{
    display: flex;
}

.left-cart{
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    border-top: .1vw grey solid;
    text-align: center;
}